<!-- this is to make the page's vertical scrollbar appear the correct height -->
  <div id="mock-scroller"></div>
  <ul id="nav"></ul>

  <div id="content">
    <section id="story-header">
      <div class="container">
        <div id="logo">
          <%= image_tag 'logo.png', :width => "190px" %>
        </div>

        <h2>¿Qué hacemos?</h2>
        <p>En knOrbit desarollamos soluciones personalizadas para la gestión social del conocimiento.</p>
        <p>Esta plataforma abierta es una muestra funcional de algunos conceptos de knOrbit.</p>
        <p>Para pedir más información : <a href="mailto:rafael@knorbit.com?subject=Información">Contacta con nosotros</a></p>
      </div>
    </section>

    <section id="story-intel" anim-pause="1000">
      <img class="bg animate" src="<%= image_path 'fondonubes.png' %>"/>
      <div class="container" style="padding-top: 90px;">
        <div>
          <h2>Recibe los consejos que necesitas</h2>
          <h2>Asesora sobre lo que sabes</h2>
          <p>¿Eres emprendedor y necesitas ayuda?</p>
          <p>Empieza una Consulta para resolver tus dudas y obtener orientaciones útiles</p>
        </div>

        <div class="allCircleContainers">
          <div class="circleContainer" style="margin-bottom: 20px;">
            <div class="text">Plantea tu consulta</div>
            <div class="circle"><span>1</span></div>    
          </div>
        
          <div class="circleContainer" style="margin-bottom: 20px;">
            <div class="text">Invita a los asesores recomendados</div>
            <div class="circle"><span>2</span></div>    
          </div>
        
          <div class="circleContainer" style="margin-bottom: 20px;">
            <div class="text">Amplía tu perspectiva y descubre nuevas opciones</div>
            <div class="circle"><span>3</span></div>    
          </div>
        </div>
      </div>

      <iframe class="logo animate" width="550" height="365" src="http://www.youtube.com/embed/tzKYRelQz0c?rel=0" frameborder="0" allowfullscreen></iframe>
    </section>

    <section id="story-william">
      <img class="bg animate" anim-detached="true" />
      <div class="container">
        <div>
          <h2>Descubre knOrbit</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vehicula aliquam eros a tempus. Aenean sodales dictum augue, in faucibus nisi sollicitudin eu. Quisque et urna lacus, quis aliquam purus. Nulla semper arcu vel diam auctor condimentum. Nam molestie sem eu quam fermentum a tempus nisi aliquet. Maecenas sit amet tincidunt elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla facilisi. Nulla facilisi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce nec ipsum ac mauris imperdiet luctus sed vitae ligula. Phasellus nec hendrerit neque.
          </p>
        </div>
      </div>
    </section>


    <section id="story-bing">
      <img class="bg animate" anim-detached="true" />
      <div class="container">
        <div>
          <h2>Personaliza tu instancia</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vehicula aliquam eros a tempus. Aenean sodales dictum augue, in faucibus nisi sollicitudin eu. Quisque et urna lacus, quis aliquam purus. Nulla semper arcu vel diam auctor condimentum. Nam molestie sem eu quam fermentum a tempus nisi aliquet. Maecenas sit amet tincidunt elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla facilisi. Nulla facilisi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce nec ipsum ac mauris imperdiet luctus sed vitae ligula. Phasellus nec hendrerit neque.
          </p>
        </div>
      </div>
    </section>


    <section id="story-foo" anim-pause="500">
      <div class="container">
        <h2>Misc. Stuff</h2>
        <p>Some more parallax stuff.</p>
      </div>
    </section>
  </div>